<header>
  <div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="#" class="navbar-brand">Brand</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                  <a [routerLink] = "'/home'" class="nav-link">Home</a>
              </li>
            </ul>

        </div>
        <button (click)="logout()" class="btn btn-danger float-right">Logout</button>
    </nav>
  </div>
</header>

