<app-header></app-header>


<div class="container-fluid">

  <div class="form-group">
    <input type="text" class="form-control bg-light text-dark" placeholder="Search Here" [(ngModel)]="searchKeyWord">
</div>
</div>
<div class="card m-3">


<p></p>
<p>
  <a [routerLink]="['/account/add']" class="btn btn-primary float-left mb-3 ml-2" *ngIf="isAdmin">New </a>
  <button type="button" class="btn btn-primary ml-2" (click)="openPopUp()">Open to search</button>
</p>
  <table class="table table-sm table-hover" >
    <thead>
      <tr>
        <th  (click)="sortBy(0)">Account Number</th>
        <th (click)="sortBy(1)">Balance</th>
        <th (click)="sortBy(2)">First Name</th>
        <th (click)="sortBy(3)">Last Name</th>
        <th (click)="sortBy(4)">Age</th>
        <th>Gender</th>
        <th (click)="sortBy(5)">Address</th>
        <th (click)="sortBy(6)">Employer</th>
        <th >Email</th>
        <th (click)="sortBy(7)">City</th>
        <th (click)="sortBy(8)">State</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts | paginate: { itemsPerPage: 10, currentPage: pageNumber , totalItems: count } | filter:searchKeyWord" >
        <td>{{ account.accountNumber}}</td>
        <td>{{ account.balance}}</td>
        <td>{{ account.firstname}}</td>
        <td>{{ account.lastname}}</td>
        <td>{{ account.age}}</td>
        <td>
          <div *ngIf="account.gender === 'F';else content">Female</div>
          <ng-template #content>Male</ng-template>
        </td>
        <td>{{ account.address}}</td>
        <td>{{ account.employer}}</td>
        <td>{{ account.email}}</td>
        <td>{{ account.city}}</td>
        <td>{{ account.state}}</td>
        <td>
          <a [routerLink]="['/account/', account.id]" class="btn btn-primary  mb-3  ml-2"> Detail</a>
          <a [routerLink]="['/account/edit', account.id]" class="btn btn-primary  mb-3  ml-2" *ngIf="isAdmin"> Edit</a>
          <a [routerLink]="" (click)="delete(account.id)"class="btn btn-primary  mb-3  ml-2" *ngIf="isAdmin"> Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
</div>

<ng-template #mymodal let-modal>
  <div class="modal-body">
    <app-search-account></app-search-account>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>
